*{
       margin: 0px;
       padding: 0px;
       box-sizing: border-box;
}
body{
       background-color: white;

}
.container{
       position: absolute;
       max-width: 800px;
       height: 500px;
       margin: auto;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
}
.myrightctn{
       position: relative;
       /* background-image: linear-gradient(20deg,rgba(90, 99, 10, 0.774),rgba(77, 3, 28, 0.849)); */
       background-image: linear-gradient(45deg,rgba(10, 99, 87, 0.774),rgba(12, 83, 10, 0.849));
       border-radius: 25px;
       height: 100%;
       padding: 25px;
       color: rgb(192, 192, 192);
       font-size: 12px;
       /* display: flex; */
       justify-content: center;
       /* top: 50%; */
       align-items: center;

}
.myleftctn{
       position: relative;
       background-color: white;
       border-radius: 25px;
       height: 100%;
       padding: 25px;
       padding-left: 50px;
}
.myleftctn header{
       color: rgba(10, 99, 87, 0.774);
       font-size: 28px;
       font-weight: 800;
       margin-bottom: 20px;
}
.row{
       height: 100%;
}
.mycard{
       position: relative;
       background-color: rgb(238, 236, 236);
       height: 100%;
       border-radius: 25px;
       /* -webkit-box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7); */
       /* -moz-box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);  */
        box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7) ;
        /* box-shadow:5px 5px 10px 5px rgb(102, 102, 102) ; */
}
.myrightctn header{
       color: white;
       font-size: 44px;
}
.box{
       position: relative;
       margin: 20px;
       margin-bottom: 100px;
}
.myleftctn .myInput{
       width: 230px;
       border-radius: 25px;
       padding: 10px;
       padding-left: 50px;
       border: none;
       box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}
.myleftctn .myInput:focus{
outline: none;
}
.myform{
       position: relative;
       margin-top: 50px 
}
.myleftctn .butt{
       background-image: linear-gradient(45deg,rgba(10, 99, 87, 0.774),rgba(12, 83, 10, 0.849));
       color: white;
       width: 230px;
       border: none;
       border-radius: 25px;
       padding: 10px;
}
.myleftctn .butt:hover{
       background: linear-gradient(45deg,rgba(10, 99, 87, 0.925),rgba(12, 83, 10, 0.932));
}
.myleftctn .fas{
       position: relative;
       color: rgb(2, 128, 86);
       left: 36px;
}
.butt_out{
       background: transparent;
       color: white;
       width: 120px;
       border: 2px solid white;
       border-radius: 25px;
       padding: 10px;
       box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}